<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.help.sd.uni_con" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ParseApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LogIn_SignUp_Activity.LogIn_SignUp"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Home_Activity.Home"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Profile_Activity.profileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Profile_Activity.change_passwordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Course_Activity.coursesActivity"
            android:label="@string/title_activity_courses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Course_Activity.addCourseActivity"
            android:label="@string/title_activity_add_course"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Post_Activity.postActivity"
            android:label="@string/title_activity_post"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".LogIn_SignUp_Activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
